div.field-wrapper {
    display: flex;
    flex-direction: column;
    width: 47%;

    label {
        font-family: "poppins regular";
        color: var(--prim1);
        padding-bottom: .3rem;
    }

    input, select {
        font-family: "poppins light";
        padding: 1rem;
        border-radius: 10px;
        font-size: 1.1vw;
        color: var(--prim1);
        border: solid 1px var(--bgc2);
        &:active {
            border-color: var(--blue);
        }
    }
}

.form-data-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.step-title {
    font-family: "Poppins bold";
    text-align: start;
    margin-top: -2rem;
    margin: 0;
    margin-bottom: .5rem;
}
