form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 80%;
    margin-inline-start: 4rem;
    .form_steps-container {
        display: flex;
        justify-content: start;
        gap: 3rem;
        padding: 4rem 0 2rem 0;
        border-bottom: solid 2px var(--bgc);
    }

    .form_step-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        &:nth-child(1) .form__step-box{
            background-color: var(--prim1);
            color: white; 
        }
    }

    .form__step-box {
        background-color: var(--bgc);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .6rem;
        width: 3rem;
        height: 3rem;
        span {
            margin: .8rem 1rem;
            font-size: 1.1rem;
        }
        
    }
}