
  [astro-icon="teenyicons:arrow-solid"] {
    color: var(--blue);
    position: absolute;
    font-size: 5rem;
    top: 2rem;
    left: 0;
  }

.book-container {
  .line {
    color: #9F9F9F;
    background-color: #9F9F9F;
    height: 1px;
    width: 80%;

  }
  padding: 12rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--sky-linear-down);

  .upper-col {
    width: 100%;
    display: flex;

    .start-col {
      display: flex;
      position: relative;
      width: 45%;
    } 

    .end-col {
      width: 55%;

      .bgc {
        width: 100%;
        position: relative;
        background: var(--prim3);
        border-start-start-radius: 150px;
        height: 50vh;

        img {
          object-fit: cover;
          position: absolute;
          bottom: 0;
          right: 0;
          margin: auto;
          width: auto;
          height: 100%;
        }
      }
    }
  }

  @media (max-width: 768px) {

  [astro-icon="arrow-solid"] {
    display: none!important;
  }
    .upper-col {
      flex-direction: column-reverse;
      
      .start-col {
        width: 100%;

        .content2-container {
          align-items: center;

          .content-wrap {
            width: 70%;
            padding-top: 2rem;
          }
        }
      }
      .end-col {
        width: 100%;
      }
    } 

  }

  .lower-col {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

    .start-col1 {
      display: flex;
      width: 55%;
    } 

    .end-col1 {
      width: 45%;

      .bgc {
        width: 100%;
        position: relative;
        background: var(--prim3);
        border-end-end-radius: 150px;
        height: 50vh;


        img {
          object-fit: cover;
          position: absolute;
          bottom: 0;
          left: 0;
          margin: auto;
          width: auto;
          height: 115%;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .lower-col {
      margin-top: 3rem;

      flex-direction: column-reverse;
      .start-col1 {
        width: 100%;

        .content2-container {
          width: 100%;
          padding: 1.3rem;
          align-items: center;
        }
      }
      .end-col1 {
        width: 100%;
      }

    }
  }

}
