
  
  
  section.box-cont {
    width: 100%;
    padding-block: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.service-container {

    .faq-section {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-block: 8rem;
        

        .faq-cont {
            width: 80%;
            padding: 4rem;
        }
    }
    
    .hero-section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        padding: 8rem 0rem 6rem 8rem;
        background: none;
        background-color: var(--bgc);

        .hero-cont {
            width: 60%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: start;
                
                .btns {
                    display: flex;
                    gap: 1rem;
                }
              .content-wrap {
                display: flex;
                justify-content: center;
                align-items: start;
                flex-direction: column;
                width: 80%;
                gap: 1rem;
    
                h2 {
                    text-align: start;
                }
    
                p {
                    text-align: start;
                }
                span {
                    font-family: "poppins regular";
                    color: var(--prim2);
                    background-color: var(--prim3);
                    padding: 0.5rem;
                    border-radius: 0.2rem;
                    margin-bottom: 0.5rem;
                }
              }
            
        }

        
    }

    .how-it-work-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bgc);
        padding-block: 10rem;

        svg {
            width: 70px;
            height: 70px;
            padding-bottom: 1rem;
        }
        
        .how-it-work-cont {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;


            .process-cont {
                width: 100;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .latest-posts-section {
        width: 100%;
        object-fit: contain;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--sky-gradiant);
    }

    .make-oppoinment-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--sky-gradiant);
        padding-block: 8rem 2rem;

        .make-oppoinment-cont {
            display: flex;
            width: 60%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 4rem;
            padding: 3rem 4rem;
            text-align: center;
            background-color: var(--bgc);

            button {
                border-radius: 10px;
                width: 40%;
                font-size: 1.2vw;
            }

            .img-cont {
                flex: 0 0 auto;
                display: flex;
                align-items: center;
    
                img {
                    align-self: center;
                    object-fit: cover;
                    width: 100%;
                }
            }

        }

    }

    .faq-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-block: 3rem;

        .faq-cont {
            width: 50%;
        }

    }
      
}

  
@media (max-width: 768px) {
    .service-container {

        .hero-section {
            padding: 2rem 0;
            flex-direction: column-reverse!important;
            justify-content: center;
            align-items: center;
            gap: 3rem;

            .hero-cont {
                width: 90%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }


            .left-col {
                width: 100%!important;
                justify-content: center!important;

                img {
                    width: 100% !important;
                }
            }

            .right-col {
                width: 100%!important;
                gap: 3rem!important;

                .content-wrap {
                    width: 90%;
                }


            }
        }

        .feature-section {
            text-align: center;
            h3 {
                width: 90%;
            }

            .card-wrap {
                flex-direction: column;
                width: 90%;
            }

            .faq-section {
            
                .faq-cont {
                    width: 90%;
                    padding: 0 2rem;
            }   }
        }

        .process-cont {
            flex-direction: column!important;
        }

        .make-oppoinment-cont {
            width: 80%!important;
            padding: 3rem 2rem!important;

            button {
                width: 80% !important;
                font-size: 3vw !important;
            }
        }
    }

}