
#hashLink {
    display: none;
  }
  
  #hashLink:target {
    display: block;
  }
  
  h2 {
    color:var(--h1-color);
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }
  
  p, h2 {
    text-align: center;
  }
  
  label, .description {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 0.625rem;
  }
  
  form {
    width: 31.25;
    position: relative;
    margin-top: 2rem;
    align-items: center;
  }

  input, textarea {
    width: 100%;
    display: block;
    font-weight: 500;
    background: var(--bg-color);
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
  }
  
  input::placeholder, textarea::placeholder {
    color: var(--primary-color);
  }
  
  textarea {
    resize: none;
  }
  
  .btn-cont {
    width: 107%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    width: 100%;
    height: 4rem;
    padding: 3rem;
    text-align: center;
    font-size: 1.1vw;
  }
  
  
  #error, #success-msg {
    width: 40vw;
    margin: 0.125rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: 'Jost';
    color: var(--secondary-color);
    }
  
    #success-msg {
    transition-delay: 3s;
    }
  
  @media (max-width: 950px) {
    form {
      width: 100%;
    }
    h1 {
      font-size: 1.75rem;
    }
    p {
      font-size: 0.7rem;
    }
    input, textarea, button {
      font-size: 0.65rem;
    }
    .description {
      font-size: 0.3rem;
      margin-left: 0.4rem;
    }
    button {
      width: 7rem;
    }

  }