@import './global.scss';


    .form-container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;

        .main-form{
            a {
                color: var(--blue);
                transition: .3s;
                &:hover {
                    color: var(--prim2)
                }
            }
            min-width: 40%;
            min-height: 40vh;
            display: flex;
            justify-content: center;
            flex-direction: column;
            border: 1px solid var(--bgc);
            box-shadow: var(--box-shadow1);
            border-radius: 8px;
            background: white;
            padding-block: 6rem;
            gap: 2rem;
    
    
            .top-cont {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 2rem;

                h2 {
                    color: var(--blue)
                }
                form {
                    width: 60%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 3em;

                    .inputs-wrapper {
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .login-btn {
                    padding: 1rem 12.5rem;
                    font-size: 1vw;

                    &:hover {
                        color: var(--blue);
                    }
                }
            }
        
        
                .or-wrapper {
                    text-align: center;
                    width: 65%;
                    margin: auto;
                    .or-divider {
                    text-align: center;
                    font-family: 'poppins light';
                    color: var(--border-color);

                        &:before {
                            border-top: 1px solid #ccc;
                            content: " ";
                            display: inline-block;
                            vertical-align: middle;
                            width: 45%;
                        }
                        &:after {
                            border-top: 1px solid #ccc;
                            content: " ";
                            display: inline-block;
                            vertical-align: middle;
                            width: 45%;
                        }
                    }
                }
        
            .bot-cont {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 2rem;

                    .google-wrapper {
                        width: 56%;
                        margin-top: 2rem;
                        display: flex;
                        justify-content: start;
                        padding-inline-start: 1.5rem;
                        gap: 1.5rem;
                        align-items: center;
                        height: 70px;
                        border-radius: .4rem;
                        background: var(--bgc);
                        transition: .1s;
                        cursor: pointer;
                        transition: .3s;

                        &:hover {
                            background-color: var(--border-color);
                            
                        }
                    }

                    .sign-up {
                        display: flex;
                        gap: 0.3rem;
                        justify-content: center;
                        align-items: center;
                    }
        
            }
        
        }   
    }



@media (max-width: 768px) {
    .main-form {
        min-width: 100%!important;
        min-height: 76vh;
        gap: 0;

        form {
            width: 100%!important;
        }
    }
    
    .login-btn {
        padding: 0.8rem 7rem!important;
        font-size: 3vw!important;
    }
    .google-wrapper {
        h5 {
            font-size: 3vw;
        }
    }

}