@import '../styles/global.scss';

.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sky-gradiant);




    .main-form{
        min-width: 60%;
        min-height: 40vh;
        border: 1px solid var(--bgc);
        box-shadow: var(--box-shadow1);
        border-radius: 8px;
        background: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-block: 6rem 3rem;



    .top-cont {

        .title {
            text-align: center;
            color: var(--blue)!important;
        }

        form  {

            label{
                font-size: 2.3em;
                justify-content: center;
                display: flex;
                margin: 60px;
                cursor: pointer;
                transition: .5s ease-in-out;
            }
            input{
                width: 60%;
                height: 20px;
                justify-content: center;
                display: flex;
                margin: 20px auto;
                border: solid 1px #e0dede; 
                padding: 10px;
                outline: none;
                border-radius: 4px;
                transition: .3s;
            }
            button{
                width: 65%;
                height: 3.5rem;
                margin: 10px auto;
                justify-content: center;
                display: block;
                color: #fff;
                background: var(--blue);
                font-weight: bold;
                margin-top: 2rem;
                outline: none;
                border: none;
                border-radius: 5px;
                transition: .1s ease-in;
                cursor: pointer;
                &:hover{
                    background-color: #0558A6;
                }
            }
            
            a {
                font-family: 'Poppins bold'!important;
                font-size: 1.2vw; 
                color: var(--border-color)!important;
                background-color: white;
            }
        }

    }

    .mid-cont {

        .or-wrapper {
            text-align: center;
            width: 65%;
            margin: auto;
            padding-top: 2rem;
            .or-divider {
            text-align: center;
            font-family: 'poppins light';
            color: var(--border-color);
                &:before {
                    border-top: 1px solid #ccc;
                    content: " ";
                    display: inline-block;
                    vertical-align: middle;
                    width: 45%;
                }
                &:after {
                    border-top: 1px solid #ccc;
                    content: " ";
                    display: inline-block;
                    vertical-align: middle;
                    width: 45%;
                }
            }
        }
    }

    .bot-cont {
        .google-container {
            display: flex;
            justify-content: center;
            .google-wrapper {
                width: 65%;
                margin-top: 2rem;
                display: flex;
                justify-content: start;
                padding-inline-start: 1.5rem;
                gap: 1.5rem;
                align-items: center;
                height: 70px;
                background: var(--bgc);
                border-radius: .4rem;
                transition: .1s;
                cursor: pointer;
                &:hover {
                    background-color: var(--border-color);
                    
                }
            }
        }

    }

    }   
}
















.sign-up {
    width: 60%;
    text-align: center;
    align-self: center;
    padding-block:1rem 2rem;

    h5 {
        color: var(--prim1);
        display: inline;
        padding-inline-end: .2rem;
    }

    a {
        color: var(--blue);
        line-height: 1.1!important;
        padding-bottom: 1rem;
        &:hover {
            color: var(--prim1)
        }
    }
}