

.dropdown-cont {
    
    gap: .5rem;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1rem 2rem;
    position: absolute;
    top: 5.5rem;
    background: var(--prim2);

    ul {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        padding-block: .5rem;

        li {
            color: white;
            display: flex;
            justify-content: start;
            align-items: start;
            gap: .4rem;

            span {
                padding-bottom: 5px;
            }
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: -.5rem;
        right: 0;
        left: 0;
        margin: auto 6rem;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        background-color: var(--prim2) ;
        border-left: 1px solid grey;
        border-top: 1px solid grey;
    }
    
}