// Almarai Font
@font-face{
	font-family:"Almarai";
	src: url(../fonts/Almarai/Almarai-Regular.ttf);
  src: url(../fonts/Almarai/Almarai-Regular.woff2)  format("woff2"), /* Safari, Android, iOS */
}
@font-face{
	font-family:"Almarai";
	src: url(../fonts/Almarai/Almarai-Regular.ttf);
}

// Poppins Font Light 
@font-face{
	font-family:"Poppins Light";
	src: url(../fonts/Poppins/Poppins-Light.ttf);
}
@font-face{
	font-family:"Poppins";
	src: url(../fonts/Poppins/Poppins-Light.ttf);
}

// Poppins Font Medium
@font-face{
	font-family:"Poppins";
	src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face{
	font-family:"Poppins";
	src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

// Poppins Font Bold 
@font-face{
	font-family:"Poppins Bold";
	src: url(../fonts/Poppins/Poppins-Bold.ttf);
  src: url(../fonts/Poppins/AnyConv.com__Poppins-Bold.woff2)  format("woff2"), /* Safari, Android, iOS */
}
@font-face{
	font-family:"Poppins Bold";
	src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
