

.container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    .step-subtitle {
        color: "grey";
        font-family: "poppins light"
    }

}

@media (max-width: 768px) {
    .container {
        align-items: center;
    }
}
