@charset "UTF-8";
@import './font.scss';

::after, ::before, html {
  box-sizing: border-box;
}

/* /* Global Headings size */ 


body {

  h1,h2,h3,h4{
    color: var(--prim2);
    line-height: 1.1;
    font-family: 'Poppins regular';
  }
  h6,h5, p, span  {
    font-family: "Poppins Light";
  }
  div {
    font-family: 'poppins regular';
  }
  span {
    font-size: .9vw;
  }

}

h1 {
font-size: 2.8vw;
}
h2 {
font-size: 2.5vw!important;
}
h3 {
font-size: 1.8vw;
}
h4 {
font-size: 1.3vw;
}
h5 {
font-size: 1.1vw;
}
h6 {
font-size: 1vw;
}

p {
font-size: 1.1vw;
color: #2c2b2b;
}

a {
font-size: .9vw!important;
}


input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }
:root {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background: var(--prim4);

  // Colors 
  --prim1: rgb(21,32,64);
  --prim2: #1c2c5b; 
  --prim3: #DFC063; 
  --prim3-heavy: #d9b138;
  --prim3-light: #E0D1A3;
  --prim4: #FBFDFF;
  --border-color: #9F9F9F;
  --accent: rgb(124, 58, 237);
  --accent1: #D1EEDB;
  --accent2: #B7E6FD;
  --blue: #0080F9;
  --bgc: #f3f3f3;
  --bgc2: #d1cece;

  --sky-gradiant: radial-gradient(circle, rgba(234,245,251,1) 13%, rgba(218,243,255,1) 100%);
  --sky-linear-up: linear-gradient(7deg, rgb(255, 255, 255) 15%, rgb(232, 244, 250) 100%);
  --sky-linear-down: linear-gradient(186deg, rgba(255,255,255,1) 15%, rgba(232,244,250,1) 100%);

  --box-shadow1: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;;
  --boxShadow2: 0px 0px 100px 0px rgba(66, 71, 91, 0.3)

  --blue-gradiant: linear-gradient(
    211deg, rgba(21,32,64,1) 0%, 
    rgba(21,32,64,1) 0%, 
    rgba(41,52,84,1) 60%
    ); 

  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    white 60%
  );



// Form
label {
  font-family: "poppins regular";
  color: var(--prim1);
  font-size: .9vw;
}


input, select, textarea {
  font-family: "poppins light";
  font-size: 1.1vw;
  padding: 0.8rem;
  border-radius: 10px;
  border: solid 1px var(--bgc2);
  transition: .3s;
  &:active {
      border-color: (--blue);
  }
  &:focus {
    background-color: white;
    border: solid 1px var(--blue);
    border-radius: 4px;
  }
  &:focus::placeholder {
      color: transparent;
  }
  &::placeholder {
    color: var(--prim1)
  }
  input:hover, textarea:hover, button:hover {
    opacity: 0.5;
  }
}
// Form


  }

  a {
    font-size: .9vw;
    font-family: "Poppins Light";
    cursor: pointer;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  padding-left: 0;
  a {
    text-decoration: none;

  }

  button {
    font-size: .8vw;
    font-family: 'poppins regular';
  }
}


// Global Classis
.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
.bg-sky-gradiant {
  background: linear-gradient(
  211deg, rgba(21,32,64,1) 0%, 
  rgba(21,32,64,1) 0%, 
  rgba(41,52,84,1) 60%
  ); 
}
.bg-blue-gradiant {
  background: var(--blue-gradiant);
}

.br {
  border-radius: 10px;
}

// Buttons
.btn-stroke-yellow {
  display: inline-block;
  padding: .6rem 1.3rem;
  border-radius: 4px;
  cursor: pointer;
  color: var(--prim1);
  background: var(--prim3);
  border: 1px solid var(--prim3);
  transition: 200ms;

  &:hover {
    background: var(--prim3-heavy);
    border-color: var(--prim1);
  }
}
.btn-stroke-white {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background: transparent;
  border: 1px solid white;
  font-size: 12x;
  transition: 200ms;
  text: {
    decoration: none;
  }
  &:hover {
    background: white;
    color: var(--prim1);
    border-color: white;
  }
};

.btn-stroke-white2 {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--prim1);
  background: transparent;
  border: 1px solid var(--prim1);
  font-size: 1.1vw;
  transition: 200ms;
  text: {
    decoration: none;
  }
  &:hover  {
    background: var(--bgc2);
  }
  &:focus {
    background: var(--prim1);
    color: white;
    border-color: white;
  }
};
.btn-stroke-blue-heavy {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background:var(--prim2);
  border: 1px solid var(--prim1);
  font-size: 12x;
  transition: 300ms;
  text: {
    decoration: none;
  }
  &:hover {
    background: var(--blue);
    color: white;
    border-color: var(--blue);
  }
};

.btn-stroke-blue {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background: var(--blue);
  border: 1px solid var(--blue);
  font-size: 12px;
  transition: 300ms;
  text: {
    decoration: none;
  }
  &:hover {
    background: white;
    color: var(--blue);
    border-color: var(--blue);
  }
};

.btn-line-blue {
  display: inline-block;
  cursor: pointer;
  color: var(--prim1);
  background: transparent;
  border: none;
  font-size: 1vw;
  transition: 500ms;

  text: {
    decoration: none;
  }
  &:hover {
    color: var(--prim1);
    transform: translateX(1vw);
  }
  &::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-inline-start: .3rem;
    background-image: url('../icons/chevron-right.svg');
    width: 1rem;
    height: 1.1rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
};

.wrap-icon {
  display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
}




////////////////////// Phone //////////////////
@media (max-width: 768px) {
  /* Global */
  h1 {
      font-size: 7.7vw!important;
      line-height: 1.2!important;
    }
    h2 {
      font-size: 7vw!important;
    }
    h3 {
      font-size: 6vw;
    }
    h4 {
      font-size: 3.9vw;
    }
    h5 {
      font-size: 4vw;
    }
    h6 {
      font-size: 3vw;
    }
  
    p {
      font-size: 3.3vw!important;
    }
  
    a {
      font-size: 3vw!important;
    }
  
    span {
      font-size: 3vw!important;
    }
    /* Global */
  
  
  
    /* Forms */
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
    textarea {
      padding-block: 3rem;
    }
    input, textarea, select {
      font-size: 3vw!important;
      padding-inline: 1rem!important;
    }
    label {
      font-size: 3vw!important;
    }
    /* Forms */
  
  
    /* buttons */
    .btn-stroke-yellow {
      font-size: 3vw!important;
      padding: 10px 12px !important;
    }
  
    .btn-stroke-blue-heavy {
      padding: 10px 12px !important;
    }
    .btn-line-blue {
      text-align: center;
      font-size: 3.5vw!important;
  
    }
  
  /* buttons */
  
    button {
      font-size: 4vw;
    }
  
    /* buttons */
  }
  ////////////////////// Phone //////////////////