
.hero-container {
  padding-block: 2rem;
  display: flex;
  background: linear-gradient(7deg, rgba(255,255,255,1) 15%, rgba(232,244,250,1) 100%);
  & {
      opacity: 0;
      animation: fadeIn 1.3s ease-in forwards;
    }
    @keyframes fadeIn {
      0% {
      opacity: 0;
      } 
      100% {
      opacity: 1;
      }

    }
  .left-col {
    width: 50%;
    display: flex;
    height: 90vh;
    justify-content: start;

    .content-col {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-inline-start: 5vw;
      &::after {
      transform: rotate(90deg) ;
        content: '';
        background-image: url('../icons/arrow-right-up.svg');
        display: block;
        position: absolute;
        top: 13vw;
        left: 0;
        width: 32px;
        height: 32px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .content-wrap {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 1.5rem;

      h6 {
        display: none;
      color: var(--prim2);
      }

      p {
        font-size: 1.1vw;
      }
      h1 {
        color: var(--prim2);
        span {
          color: var(--blue);
      }
      }
      .head {
        max-width: 80%;
      }
      p {
        width: 90%;
      }


    }
    .content_btns {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: start;
      align-items: start;
      gap: 20px;

      a:nth-child(1) {
      border: 0;
      font-size: 12px;
    }
    }
  }

  .right-col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90vh;
  }
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column-reverse;
    padding: 0;

    .left-col {
      height: 50vh;

      .content-wrap {
        align-items: center!important;
        justify-content:center
      }
    }
    .content-col {
      height: 40vh;
      margin-bottom: 0;
      padding-inline-start: 0!important;
      &::after{
        display: none!important;
      }
    }
    .right-col {
      padding-top: 0;
      img {
        border-top-left-radius: 0px;
      }
    }

    .child {
      width: 100%;
    }

    .content_btns {
      justify-content: center;
    }
  }
}
