.job-cont {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 3rem 2rem;
    border: 3px solid var(--prim1);
    border-radius: 4px;
    transition: .3s;
    gap: 1.5rem;

    &:hover {
        background-color: var(--bgc);
    }

    .right-col {
        width: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        h4 {
            padding: 1rem;
            transition: .3s;
            border-radius: 10px;
            background: var(--prim3);
            cursor: pointer;

            a {
                color: var(--prim1);
            }

            &:hover {
                a {
                    color: var(--blue);
                }
            }
        }
        
        h4::after {
            content: '';
            background-image: url('../icons/arrow-br.svg');
            display: inline-block;
            rotate: 40deg;
            width: 2vw;
            height: 3vw;
            background-size: contain;
            background-repeat: no-repeat;
            width: 33px;
            height: 30px;
            margin-bottom: -0.5rem;
            &:hover {
                margin-bottom: 50px!important
            }

            
        }
    }

    .left-col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 3rem 2rem;
    width: 80%;
    transition: .3s;
    gap: 1.5rem;

    .first {
        display: flex;
        justify-content: space-between;
        align-items: center;

        

    }

    .last {
        width: 100%;

        .job-statue {
            width: 60%;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1.5rem;

            .statue {
                padding: .5rem 1rem;
                border: 1px solid var(--prim1);
                border-radius: 50px;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: .2rem;
                transition: .3s;

                .icon {
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    background-size: cover;
                }

                .clock-icon {
                    background-image: url(../icons/clock.svg);
                }
                .location-icon {
                    background-image: url(../icons/location.svg);
                }
                
                &:hover {
                    .clock-icon {
                        background-image: url(../icons/clock-white.svg)!important;
                    }
                    .location-icon {
                        background-image: url(../icons/location-white.svg);
                    }
                    p {
                        color: white                  
                    }
                    background-color: var(--prim1);
                }

            }
        }
    }
    }
    
}



@media (max-width: 768px) {

    .job-cont {
        width: 88%;
        padding: 2rem 1rem;
        flex-direction: column-reverse;
        .left-col {
            width: 100%;
            padding: 0!important;

            .job-statue, .last {
                display: flex;
                flex-direction: row;
                width: 100%!important;
                justify-content: space-between !important;
                align-items: center ;
            }
        }

        .right-col {
            width: 100%;
            display: flex;
                flex-direction: row;
                width: 100%!important;
                justify-content: space-between !important;
                align-items: center ;
        }
    }

    .top {
        h4 {
            font-size: 4.5vw!important;
        }
    }

    .job-statue {
        flex-direction: column;
        gap: .2rem!important;
    }

    .statue1 {
        width: 150px;
    }
}