section.team-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding-block: 6rem;
}
.cards {
    width: 100%;
    display: flex;
    justify-content: center;
} 

.team-section {
    padding-block: 3rem;
} 

  .d-flex {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 30px;
    justify-content: center;
  }
  
  .container {
    display: flex;
    width: 100%;
    gap: 4rem;
    justify-content: center;
    align-items: center;
  }
  
  .support-link {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
  }

@media (max-width: 768px) {
    .cards {
        width: 100%;
        display: flex;
    }

    .d-flex {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}
  