---
import Layout from "../../layouts/Layout.astro";
import { Job } from "../../components/Job";
import Icon from "astro-icon";
import JobFAQ from "../../components/FAQs/JobFAQ";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Jobs">
  <div class="jobs-cont">
    <div class="top">
      <Icon name="doc-success" />
      <Icon name="partypopper" />
      <h1>{t("career.hero.title")}</h1>
      <h4>
        {t("career.hero.subtitle")}
      </h4>
    </div>
    <div class="active-jobs-cont">
      <Job
        title={t("career.jobs.job1.title")}
        jobDesc={t("career.jobs.job1.desc")}
      />
      <Job
        title={t("career.jobs.job2.title")}
        jobDesc={t("career.jobs.job2.desc")}
      />
      <Job
        title={t("career.jobs.job3.title")}
        jobDesc={t("career.jobs.job3.desc")}
      />
      <Job
        title={t("career.jobs.job4.title")}
        jobDesc={t("career.jobs.job4.desc")}
      />
    </div>
    <div class="faq">
      <JobFAQ client:visible />
    </div>
  </div>
</Layout>

<style>
  [astro-icon="partypopper"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 90px;
  }

  [astro-icon="doc-success"] {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
    height: 120px;
    rotate: 30deg;
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
  .jobs-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 6rem;
    flex-direction: column;
    gap: 12rem;
  }

  .jobs-cont > div.top {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding-block: 12rem;
  }
  .jobs-cont > div.top h1 {
    font-size: 3vw;
    text-align: center;
  }
  .jobs-cont > div.top h4 {
    font-family: "poppins light";
    font-size: 1.5vw;
    text-align: center;
    width: 70%;
    line-height: 1.4;
  }

  .active-jobs-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }

  .faq {
    width: 70%;
    padding: 3rem 2rem;
    background: var(--bgc);
    border: 1px solid var(--prim1);
  }
</style>
