---
import { Layout } from "../../layouts";
import ContentToggle from "../../components/ContentToggle";
---

<Layout title="Contact Us">
  <div class="contact-container">
    <div class="left-col">
      <img src="https://images.pexels.com/photos/10303889/pexels-photo-10303889.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
    </div>
    <div class="right-col">
      <ContentToggle client:load/>
      <div class="form">
        <h2>Send us a message</h2>
        <p id="toggled-cont">Find best deals for your next adventure.</p>
    <div>


      <a href='#toggled-cont' onclick="(function(e){e.preventDefault();})(event)">Click Me</a>

    
      <a class="ex" href="#hashLink">Expand </a>
      
        <form id="contact-form" method="post">
          <input type="text" id="name" name="name" placeholder="Full Name" required>
          <input type="email" id="email" name="email" placeholder="Email" required>
          <input  pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" type="tel" id="phone" name="phonw" placeholder="Phone Number" required>
          <input type="text" id="address" name="address" placeholder="Address" required>
          <textarea rows="6" placeholder="Your Message" id="message" name="message" required></textarea>
          <div class="btn-cont">
            <!--<a href="javascript:void(0)">--><button class="btn-stroke-blue-heavy" type="submit" id="submit" name="submit">Send</button><!--</a>-->
          </div>
        </form>
      </div>
      <div id="error"></div>
      <div id="success-msg"></div>
    </div>
  </div>
</Layout>



<style>

#hashLink {
  display: none;
}

#hashLink:target {
  display: block;
}




* {
  transition: all 0.3s ease-in-out;
}

.contact-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background: var(--bg-color);
  height: 120vh;
}

.left-col {
  width: 50%;
  postion: relative;
  height: 120vh;
  background-size: cover;
}

.left-col img {
  width: 100%;
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  background-repeat: no-repeat;
  top: 0;
}

.right-col {
  background: var(--bg-color);
  width: 50%;
  padding: 5rem 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


h2 {
  color:var(--h1-color);
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

p, h2 {
  text-align: center;
}

label, .description {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 0.625rem;
}

form {
  width: 31.25rem;
  position: relative;
  margin-top: 2rem;
  align-items: center;
}



input, textarea {
  width: 100%;
  display: block;
  font-weight: 500;
  background: var(--bg-color);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  outline: none;
}

input::placeholder, textarea::placeholder {
  color: var(--primary-color);
}

textarea {
  resize: none;
}

.btn-cont {
  width: 107%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 100%;
  height: 4rem;
  padding: 3rem;
  text-align: center;
  font-size: 1.1vw;
}


#error, #success-msg {
  width: 40vw;
  margin: 0.125rem 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: 'Jost';
  color: var(--secondary-color);
  }

  #success-msg {
  transition-delay: 3s;
  }

@media only screen and (max-width: 950px) {
  .logo {
    width: 8rem;
  }
  h1 {
    font-size: 1.75rem;
  }
  p {
    font-size: 0.7rem;
  }
  input, textarea, button {
    font-size: 0.65rem;
  }
  .description {
    font-size: 0.3rem;
    margin-left: 0.4rem;
  }
  button {
    width: 7rem;
  }
}

</style>