---
import '../../styles/cpanel-login.scss';
export const prerender = true;
---



<div class="form-container">
    <div class="main-form">  	
        <form action="/api/auth/register" method="post">
            <label class="title" for="chk" aria-hidden="true">Sign up</label>
            <input type="text" name="name" id="name" placeholder="Name" />
            <input 
                type="email" 
                name="email" 
                placeholder="Email" 
                required="">
            <input type="password" name="password" placeholder="Password" required="">
            <button type="submit" class="login-btn">Sign up</button>
        </form>
    </div>
  </div>
    

