---
import "../../styles/global.scss";
import "../../styles/cpanel-login.scss";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
  </head>
  <body>
    <section>
      <div class="form-container">
        <div class="main-form">
          <form action="/api/auth/register" method="post">
            <div class="inputs-wrapper">
              <h2 class="title">Sign up</h2>
              <input type="text" name="name" id="name" placeholder="Name" />
              <input
                type="email"
                name="email"
                placeholder="Email"
                required=""
              />
              <input
                type="password"
                name="password"
                placeholder="Password"
                required=""
              />
            </div>
            <button type="submit" class="login-btn btn-stroke-blue"
              >Sign up</button
            >
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
