---
import { Layout } from "../../layouts";
import GeneralFAQ from "../../components/FAQs/GeneralFAQ.jsx";
---

<Layout title="FAQ">
  <div class="faq-cont">
    <div class="faq-wrapper">
      <GeneralFAQ client:load />
    </div>
  </div>
</Layout>

<style>
  .faq-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 8rem;
    color: var(--sky-gradiant);
  }

  .faq-wrapper {
    width: 60%;
    padding: 4rem 2rem;
    background: var(--bgc);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow1);
  }

  @media (max-width: 768px) {
    .faq-wrapper {
      width: 90%;
      box-shadow: none;
    }
  }
</style>
