---
import Icon from "astro-icon";

export interface props {
  titleProcess1: string;
  subtitleProcess1: string;
  titleProcess2: string;
  subtitleProcess2: string;
  titleProcess3: string;
  subtitleProcess3: string;
  titleProcess4: string;
  subtitleProcess4: string;
  titleProcess5: string;
  subtitleProcess5: string;
}
---

<section>
  <div class="process-cont">
    <div class="top-col">
      <h6>Our Process</h6>
      <h3>The mechanism of action that leads to the success of the system</h3>
    </div>
    <div class="bot-col">
      <div class="content-cont">
        <span>1</span>
        <div class="icon-wrapper">
          <Icon name="book-light" />
        </div>
        <h5>Getting to know the company</h5>
        <p>
          Pull up a chair in our office or stay on the couch. We have all the
          tax filing options you need. And by any file method, you'll always get
          the maximum for your recovery. Guaranteed."
        </p>
      </div>
      <div class="content-cont">
        <span>2</span>
        <div class="icon-wrapper">
          <Icon name="audit-outlined" />
        </div>
        <h5>Caluculating and analyse teh data</h5>
        <p>
          Pull up a chair in our office or stay on the couch. We have all the
          tax filing options you need. And by any file method, you'll always get
          the maximum for your recovery. Guaranteed."
        </p>
      </div>
      <div class="content-cont">
        <span>3</span>
        <div class="icon-wrapper">
          <Icon name="money-thin" />
        </div>
        <h5>Caluculate all your taxis</h5>
        <p>
          Pull up a chair in our office or stay on the couch. We have all the
          tax filing options you need. And by any file method, you'll always get
          the maximum for your recovery. Guaranteed."
        </p>
      </div>
      <div class="content-cont">
        <span>4</span>
        <div class="icon-wrapper">
          <Icon name="work-outline" />
        </div>
        <h5>Getting to know the company</h5>
        <p>
          Pull up a chair in our office or stay on the couch. We have all the
          tax filing options you need. And by any file method, you'll always get
          the maximum for your recovery. Guaranteed."
        </p>
      </div>
      <div class="content-cont">
        <span>5</span>
        <div class="icon-wrapper">
          <Icon name="course" />
        </div>
        <h5>Getting to know the company</h5>
        <p>
          Pull up a chair in our office or stay on the couch. We have all the
          tax filing options you need. And by any file method, you'll always get
          the maximum for your recovery. Guaranteed."
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .top-col h3 {
    color: white;
    font-family: "poppins regular";
    padding-top: 0.5rem;
  }

  .content-cont span {
    color: var(--prim3);
    padding-bottom: 0.3rem;
    font-family: "poppins light";
  }

  div.content-cont .icon-wrapper {
    padding: 0.4rem 0.6rem;
    border: 1px solid var(--prim3);
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  [astro-icon] {
    padding-top: 0.3rem;
    color: #dfc063;
    width: 23px;
  }

  .process-cont {
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5rem;
    width: 100%;
    background-color: var(--prim2);
    min-height: 40vh;
    padding-block: 3rem;
  }
  .top-col h6 {
    text-align: center;
    color: #dfc063;
  }
  .bot-col {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .content-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
  }
  .content-cont h5 {
    color: white;
  }
  .content-cont p {
    color: white;
    text-align: center;
  }

  @media (max-width: 768px) {
    .process-cont {
      padding-inline-start: 0;
    }
    .dev-cont .second-col .process-cont .left-col img {
      width: 190%;
    }

    .dev-cont {
      gap: 0 !important;
    }
    .bot-col {
      width: 95%;
      gap: 1.5rem;
    }

    .content-cont {
      width: 45%;
    }

    .top-col h3 {
      font-family: "poppins light";
    }
    div.content-cont span {
      font-size: 4vw;
    }
    div.content-cont h5 {
      text-align: center;
    }
  }
</style>
