---
import Icon from 'astro-icon';
---
<section>
    <div class="process-cont">
        <div class="top-col">
            <h6>Process</h6>
            <h3>The mechanism of action that leads to the success of the system</h3>
        </div>
        <div class="bot-col">
            <div class="content-cont">
                <Icon name="ph:book-fill" />
                    <h5>Getting to know the company</h5>
                    <p>Pull up a chair in our office or stay on the couch. We have all the tax filing options you need. And by any file method, you'll always get the maximum for your recovery. Guaranteed."</p>
            </div>
            <div class="content-cont">
                <Icon name="ph:book-fill" />
                    <h5>Getting to know the company</h5>
                    <p>Pull up a chair in our office or stay on the couch. We have all the tax filing options you need. And by any file method, you'll always get the maximum for your recovery. Guaranteed."</p>
            </div>
            <div class="content-cont">
                <Icon name="ph:book-fill" />
                    <h5>Getting to know the company</h5>
                    <p>Pull up a chair in our office or stay on the couch. We have all the tax filing options you need. And by any file method, you'll always get the maximum for your recovery. Guaranteed."</p>
            </div>
            <div class="content-cont">
                <Icon name="ph:book-fill" />
                    <h5>Getting to know the company</h5>
                    <p>Pull up a chair in our office or stay on the couch. We have all the tax filing options you need. And by any file method, you'll always get the maximum for your recovery. Guaranteed."</p>
            </div>
            <div class="content-cont">
                <Icon name="ph:book-fill" />
                    <h5>Getting to know the company</h5>
                    <p>Pull up a chair in our office or stay on the couch. We have all the tax filing options you need. And by any file method, you'll always get the maximum for your recovery. Guaranteed."</p>
            </div>
        </div>
    </div>
</section>



<style>
    .top-col h3 {
        color:  white;
    }

    [astro-icon="ph:book-fill"] {
        color: #DFC063;
        width: 23px;
        padding-bottom: .5rem;
    }

    .process-cont {
        padding-block: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 5rem;
        width: 100%;
        background-color: #152040;
        min-height: 40vh;
        padding-block: 3rem
    }
    .top-col h6 {
        text-align: center;
        color: #DFC063
    }
    .bot-col {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .content-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
    }
    .content-cont h5 {
        color:  white;
    }
    .content-cont p {
        color: white;
        text-align: center;
    }

</style>