---
export interface props {

}

const p = Astro.props
---
<div class="card">
    <div class="img-wrap">
        <img src=`/${p.img}` alt="">
    </div>
    <div class="content-wrap">
        <h4>{p.title}</h4>
        <p>{p.subtitle}</p> 
        <a class="btn-line-blue" href="#">See More</a>
    </div>
</div>

<style>

    div.card {
        width: 350px;
    }

    div.img-wrap {
        width: 100%;
        display: flex;
        justify-content: end;
    }
    div.img-wrap img {
        width: 100%;
        max-height: 220px;
        min-height: 220px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    
    div.content-wrap {
        max-width: 350px;
        min-height: 250px;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 1.3rem;
        border-radius: 0 0 20px 20px;
        padding-top: 2rem;
    }
    p {
        font-size: 1.1vw;
        padding-top: .5rem;
        padding-bottom: 1.3rem;
    }

    @media (max-width: 768px) {
        p {
            text-align: start;
        }
    }
    
</style>