---
import Layout from '../layouts/Layout.astro'
---


<Layout>
<div class="con-col">
    <div class="left-col">
        <img src="/job1.jpg" alt="">
    </div>
    <div class="right-col">
        <div class="top-cont">
            <div class="steps">
                <div class="step">
                    <div class="step-box"><span>1</span></div>
                    <h5>Sign Up</h5>
                </div>
                <div class="step">
                    <div class="step-box"><span>1</span></div>
                    <h5>Message</h5>
                </div>
                <div class="step">
                    <div class="step-box"><span>1</span></div>
                    <h5>Checkbox</h5>
                </div>
                <div class="step"></div>
                <div class="step"></div>
            </div>
        </div>
    </div>

</div>

</Layout>
