---
import "../../styles/BookkeepingSection.scss";
import Content2 from "../Content/Content2.astro";
import Icon from "astro-icon";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

---

<section>
  <div class="book-container">
    <div class="upper-col">
      <div class="start-col">
        <Icon name="arrow-solid" />
        <Content2
          title={t("home.bookkeeping.title")}
          span={t("home.bookkeeping.span")}
          subtitle={t("home.bookkeeping.subtitle")}
          consaltBtn={t("home.bookkeeping.consaltBtn")}
          btn={t("home.bookkeeping.btn")}
          btnSrc={`/${lang}/services/bookkeeping`}
        />
      </div>

      <div class="end-col">
        <div class="bgc">
          <img src="/home/bk1.png" alt="" />
        </div>
      </div>
    </div>

    <div class="lower-col">
      <div class="start-col1">
        <Content2
          title={t("home.audit.title")}
          span={t("home.audit.span")}
          subtitle={t("home.audit.subtitle")}
          consaltBtn={t("home.audit.consaltBtn")}
          btn={t("home.audit.btn")}
          btnSrc={`/${lang}/services/audit`}
        />
      </div>
      <div class="end-col1">
        <div class="bgc">
          <img src="/home/bk2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
