---
import Content1 from "../Content/Content1.astro";
import "../../styles/Development.scss";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="dev-cont">
  <div class="first-col">
    <Content1
      tag={t("home.development.tag")}
      title={t("home.development.title")}
    />
  </div>
  <div class="second-col">
    <div class="process-cont">
      <div class="right-col">
        <div class="steps-cont">
          <div class="step">
            <h3 class="num">1</h3>
            <h4>{t("home.development.firstTitle")}</h4>
            <p>{t("home.development.firstSubTitle")}</p>
            <hr class="line" />
          </div>
          <div class="step">
            <h3 class="num">2</h3>
            <h4>{t("home.development.secondTitle")}</h4>
            <p>{t("home.development.thirdSubTitle")}</p>
            <hr class="line" />
          </div>
          <div class="step">
            <h3 class="num">3</h3>
            <h4>{t("home.development.thirdSubTitle")}</h4>
            <p></p>
          </div>
        </div>
      </div>
      <div class="left-col">
        <img src="/home/mechanic.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="third-col">
    <a class="btn-stroke-yellow" href=`/${lang}/services`
      >See All Of Our Services</a
    >
    <a class="btn-stroke-blue-heavy" href=`/${lang}/about`>Know More About Us</a
    >
  </div>
</section>
