---
import "../../styles/hero.scss";
import Button from "../Modal/Button";
import HeroSlider from "../Slider/HeroSlider.astro";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const p = Astro.props;
---

<div class="hero-container">
  <div class="child left-col">
    <div class="content-col">
      <div class="content-wrap">
        <div class="head">
          <h1>{t("home.hero.title")}<span>{t("home.hero.span")}</span></h1>
        </div>
        <p>{t("home.hero.subtitle")}</p>
        <div class="content_btns">
          <a href={`/${lang}/about#process`} class="btn-stroke-yellow"
            >{t("home.hero.btn.process")}</a
          >
          <Button className="btn-line-blue" client:load>
            {t("home.hero.consaltBtn")}
          </Button>
        </div>
      </div>
    </div>
  </div>
  <div class="child right-col">
    <HeroSlider />
  </div>
</div>
