---
import PostCard from "../Card/PostCard.astro";
import Content1 from "../Content/Content1.astro";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  lang: string;
}
---

<section class="posts-cont">
  <div class="up-row">
    <Content1
      tag={t("latestPosts.tag")}
      title={t("latestPosts.title")}
      subtitle={t("latestPosts.subtitle")}
      titleColor="#152040"
      subtitleColor="#152040"
    />
  </div>
  <div class="cards-wrap">
    <a
      href={`/${lang}/blog/posts/${t("latest-post1.slug")}`}
      style="color: var(--prim1)"
    >
      <PostCard
        title={t("latest-post1.title")}
        subtitle={t("latest-post1.subtitle")}
        img="home/blog1.jpg"
      />
    </a>

    <a
      href={`/${lang}/blog/posts/${t("latest-post2.slug")}`}
      style="color: var(--prim1)"
    >
      <PostCard
        title={t("latest-post2.title")}
        subtitle={t("latest-post2.subtitle")}
        img="home/blog2.jpg"
      />
    </a>
    <a
      href={`/${lang}/blog/posts/${t("latest-post3.slug")}`}
      style="color: var(--prim1)"
    >
      <PostCard
        title={t("latest-post3.title")}
        subtitle={t("latest-post3.subtitle")}
        img="home/blog3.jpg"
      />
    </a>
  </div>
  <a class="all-posts btn-stroke-yellow" href={`/${lang}/blog`}
    >{t("latest-posts.btn")}</a
  >
</section>

<style>
  section.posts-cont {
    width: 100%;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 3rem;
    background: linear-gradient(
      186deg,
      rgba(255, 255, 255, 1) 15%,
      rgba(232, 244, 250, 1) 100%
    );
  }

  div.up-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.cards-wrap {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .all-posts {
    padding-inline: 2rem;
  }

  @media (max-width: 769px) {
    .cards-wrap {
      flex-direction: column;
    }
  }
</style>
