---
import "../../styles/PartnersSlider.scss";
---

<section class="partners-slider">
  <div class="slider-container">
    <div class="slider">
      <div class="slide"><img src="/clients/1.png" alt="" /></div>
      <div class="slide"><img src="/clients/2.png" alt="" /></div>
      <div class="slide"><img src="/clients/3.png" /></div>
      <div class="slide"><img src="/clients/4.png" /></div>
    </div>
    <div class="slider">
      <div class="slide"><img src="/clients/5.png" alt="" /></div>
      <div class="slide"><img src="/clients/6.png" alt="" /></div>
      <div class="slide"><img src="/clients/7.png" alt="" /></div>
      <div class="slide"><img src="/clients/8.png" alt="" /></div>
    </div>
    <div class="slider">
      <div class="slide"><img src="/clients/9.png" alt="" /></div>
      <div class="slide"><img src="/clients/10.png" alt="" /></div>
      <div class="slide"><img src="/clients/11.png" alt="" /></div>
      <div class="slide"><img src="/clients/12.png" alt="" /></div>
    </div>
  </div>
</section>
