---
import Icon from 'astro-icon'
---

<footer>
   <div class="fot-cont">

        <div class="up-cont">
            <div class="bio-col"> 
                <Icon name="logo" width="54px"/>
                <p>We Are Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="right-cont">
                <div class="child-col">
                    <h5>BookKeeping</h5>
                    <ul>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                    </ul>
                </div>
                <div class="child-col">
                    <h5>Tax</h5>
                    <ul>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                    </ul>
                </div>
                <div class="child-col">
                    <h5>Audit</h5>
                    <ul>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                    </ul>
                </div>
                <div class="child-col">
                    <h5>Career</h5>
                    <ul>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                    </ul>
                </div>
                <div class="child-col">
                    <h5>Courses</h5>
                    <ul>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                        <li><a href="#">Tax1</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom-col">
            <p id="rights">©BusinessPartners | All rights reserved | Made by <a id="creator" target="_blank" href="https://the73agency.com">The73Agency®</a></p>
            <div class="social-icons">
                <a target="_blank" href="https://wa.me/201557144441"><Icon name="baseline-whatsapp"  style="width: 23px; color: #2FB844;" /></a>
                <a href="malito:info@businesspartners.com"><Icon name="email-fast-outline"  style="width: 23px; color: grey;" /></a>
                <a href="tel:+20-1557144441" ><Icon name="phone-outlined"  style="width: 23px; color: #DFC063;" /></a> 
                <a target="_blank" href="https://www.facebook.com/BusinessPartnersEGY"><Icon name="baseline-facebook" style="color: #1877F2; width: 23px"/></a>
                <!-- <a><Icon name="mdi:linkedin" style="color: #0077B5; width: 23px"/></a> -->
                <a target="_blank" href="https://www.instagram.com/businesspartnersegy/?fbclid=IwAR2xnU-pjLzT441cD7ikd3y6L2kwdcVDdG3mqP5mdGsQ2pyuGNI8ZjBJnyA"><Icon name="instagram" style="color: #ff005f; width: 20px"/></a>
                
            </div>
        </div>
    </div>
</footer>


<style>
    div.fot-cont {
        display: flex;
        flex-direction: column;
        z-index: 10;
        width: 100%;
        background:#152040;
        justify-content: space-between;
        overflow-x: hidden;
    }

    div.up-cont {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 14rem;
        border-radius: 20px 20px 0 0;
        padding-inline: 3rem;
    }

    .bio-col {
        width: 25%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: .5rem;
        border-inline-end: 1px solid rgba(128, 128, 128, 0.213);
        padding-inline-end: 2rem;
    }
    .bio-col p {
        width: 100%;
    }
    h5,p {
        color: white
    }

    #rights {
        font-size: .9vw;
    }

    #creator {
        color: #D9B752;
    }
    
    .right-cont {
        display: flex;
        justify-content: flex-start;
        gap: 5rem;
        align-items: center;
        height: 30vh;
        color: white;
        width: 50%;
    }

    .child-col {
        display: flex;
        width: 15%;
        flex-direction: column;
        align-items: center;
        font-family: 'Poppins Light';
        gap: 1rem;
    }

    .child-col h4{
        padding-bottom: 1rem;
    }
    
    ul li a {
        color: rgba(182, 182, 182, 0.871);
        padding-top: .5rem;
        transition: 200ms;
    }
    ul li a:hover {
        color: white;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        gap: .3rem;
        padding: 0;

    }


    .bottom-col {
        display: flex;
        justify-content: space-between;
        padding-inline: 2.5rem;
        padding-block: 1rem;
        border-top: 1px solid rgb(217, 183, 82, 0.3)
    }
    .social-icons {
        display: flex;
        gap: 2rem;

    }

    @media (max-width: 768px) {
        div.fot-cont {
            flex-direction: column!important;
            padding-top: 1.5rem;
        }
        .up-cont {
            flex-direction: column!important;;
            width: 100%;
            padding-inline: 0!important;
        }
        div.bio-col {
            width: 100%;
            padding: 0;
            align-items: center;
        }

        div.bio-cont > p {
            width: 80%!important;
        }

        .right-cont {
            padding-inline: 0;
            width: 100%
            gap: 0;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        .child-col {
            align-items: center;
            justify-content: center;
        }


        .bottom-col {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }
    }
</style>