---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Card from './Card/Card.astro';
import Content1 from './content/Content1.astro'
import '../styles/TaxSection.scss'
import Icon from 'astro-icon';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<section>
  <div class="container">
    <Icon name="teenyicons:arrow-solid" />
    <Content1 
      tag= "Insitutions"
      title= "Our tax specialists are ready"
      subtitle ="Pull up a chair in our office or stay on the couch. We have all the tax filing options you need. And by any file method, you'll always get the maximum for your recovery. Guaranteed."
    />
    <div class="card-wrap">
      <Card 
        title= "Make a File"
        subtitle= "Do your own bookkeeping with our On-Demand support along the way."
        img="../../public/company1.png"
        feature1= "A dedicated account manager to handle all paperwork on your behalf" feature1= "A dedicated account manager to handle all paperwork on your behalf"
        feature2= "A dedicated account manager to handle all paperwork on your behalf"
        feature3= "A dedicated account manager to handle all paperwork on your behalf"
        btn="Apply for registration"
        btnSrc="#"
      />
      <Card 
        title= "Tax returns"
        subtitle= "Do your own bookkeeping with our On-Demand support along the way."
        img="../../public/company2.png"
        feature1= "A dedicated account manager to handle all paperwork on your behalf" feature1= "A dedicated account manager to handle all paperwork on your behalf"
        feature2= "A dedicated account manager to handle all paperwork on your behalf"
        feature3= "A dedicated account manager to handle all paperwork on your behalf"
        btn="Apply for registration"
        btnSrc="#"
      />
      <Card 
        title= "Examination and Appeal"
        subtitle= "Do your own bookkeeping with our On-Demand support along the way."
        feature1= "A dedicated account manager to handle all paperwork on your behalf"
        feature2= "A dedicated account manager to handle all paperwork on your behalf"
        feature3= "A dedicated account manager to handle all paperwork on your behalf"
        btn="Apply for registration"
        btnSrc="#"
      />
    </div>
    <div class="btn-wrap">
      <h3>Still didn't Know which category ?</h3>
      <button class="btn-stroke-yellow">Book A Free Consaltant Now</button>
    </div>
  </div>
</section>

