---
import Layout from "../../../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import Button from "../../../components/Modal/Button";
import LatestBosts from "../../../components/Home/LatestBosts.astro";
import BookkeepingFAQ from "../../../components/FAQs/BookkeepingFAQ";
import IconTextCard from "../../../components/IconTextCard.astro";
import "../../../styles/Bookkeeping.scss";
import BoxToBox2 from "../../../components/BoxToBox2.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="BookKeeping">
  <section>
    <div class="service-container">
      <div class="hero-section">
        <div class="hero-cont">
          <div class="content-wrap">
            <h1>{t("accounting.hero.title")}</h1>
            <p>{t("accounting.hero.subtitle")}</p>
          </div>
        </div>
      </div>

      <div class="features-section">
        <BoxToBox2
          id="service1"
          uniqueKey="2"
          title={t("accounting.service1.title")}
          subtitle={t("accounting.service1.subtitle")}
          bgc="var(--accent1)"
          iconColor="var(--prim1)"
          contDirection="row-reverse"
          icon="handshake"
        />
        <BoxToBox2
          id="service2"
          uniqueKey="1"
          title={t("accounting.service2.title")}
          subtitle={t("accounting.service2.subtitle")}
          bgc="var(--blue)"
          iconColor=`var(--prim3)`
          contDirection="row"
          icon="report"
        />
        <BoxToBox2
          id="service3"
          uniqueKey="1"
          title={t("accounting.service3.title")}
          subtitle={t("accounting.service3.subtitle")}
          bgc="var(--accent)"
          contDirection="row-reverse"
          icon="arrow-growth"
        />
      </div>

      <div class="how-it-work-section">
        <div class="how-it-work-cont">
          <h2>How it works</h2>
          <div class="process-cont">
            <IconTextCard
              icon="paper-fill"
              title="Recording Transactions"
              subtitle="Capturing and Documenting Financial Activities for Precise Record-Keeping"
            />
            <IconTextCard
              icon="mind-mapping"
              title="Classification and Organization."
              subtitle="Organizing and Categorizing Transactions into Relevant Accounts for Clear Financial Tracking"
            />
            <IconTextCard
              icon="financial-solid"
              title="Preparation of Financial Statements."
              subtitle="Creating Comprehensive Statements for Informed Decision-Making and Performance Evaluation"
            />
          </div>
        </div>
      </div>

      <div class="make-oppoinment-section">
        <div class="make-oppoinment-cont">
          <div class="img-cont">
            <img src="/service/team.webp" alt="" />
          </div>
          <h2>Small business owner? Your taxes are our specialty.</h2>
          <p>
            Block Advisors small business certified tax pros will help maximize
            your tax outcome to help you grow your bottom line. Something every
            small business owner needs.
          </p>
          <Button className="btn-stroke-blue-heavy" client:visible>
            Make tax oppoinment
          </Button>
        </div>
      </div>

      <div class="latest-posts-section">
        <LatestBosts />
      </div>

      <div id="faq" class="faq-section">
        <h2>FAQs In Bookkeeping</h2>
        <div class="faq-cont">
          <BookkeepingFAQ client:visible />
        </div>
      </div>
    </div>
  </section>
</Layout>
