---
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/Card/Card.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import Button from "../../../components/Modal/Button";
import LatestBosts from "../../../components/Home/LatestBosts.astro";
import AuditFAQ from "../../../components/FAQs/AuditFAQ ";
import IconTextCard from "../../../components/IconTextCard.astro";
import "../../../styles/Bookkeeping.scss";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="BookKeeping">
  <section>
    <div class="container">
      <div class="hero-section">
        <div class="hero-cont">
          <div class="left-col">
            <img src=`/service/hero.jpg` alt="" />
          </div>

          <div class="right-col">
            <div class="content-wrap">
              <span>Small business bookkeeping</span>
              <h2>Bookkeeping for up to 50% less.</h2>
              <p>
                We have small business bookkeeping services to help you save
                time and money — with full-service package rates up to half off
                a typical accountant’s rates. Get started with a 30-minute
                meeting to be paired with your dedicated pro.
              </p>
            </div>
            <div class="btns">
              <a class="btn-stroke-yellow" href="#"
                >Start free phone consultation</a
              >
              <a class="btn-stroke-blue-heavy" href="#">Read our FAQs</a>
            </div>
          </div>
        </div>
      </div>

      <div class="feature-section">
        <h3>
          Whether you’re looking for small business or self-employed
          bookkeeping, we have services to meet your needs.
        </h3>
        <div class="card-wrap">
          <Card
            title="Make a File"
            subtitle="Do your own bookkeeping with our On-Demand support along the way."
            img="/home/company1.png"
            feature1="A dedicated account manager to handle all paperwork on your behalf"
            feature1="A dedicated account manager to handle all paperwork on your behalf"
            featureSrc1="#"
            feature2="A dedicated account manager to handle all paperwork on your behalf"
            featureSrc2="#"
            feature3="A dedicated account manager to handle all paperwork on your behalf"
            featureSrc3="#"
            btn="Apply for registration"
            btnSrc={`/${lang}/contact`}
          />
          <Card
            title="Tax returns"
            subtitle="Do your own bookkeeping with our On-Demand support along the way."
            img="/home/company2.png"
            feature1="A dedicated account manager to handle all paperwork on your behalf"
            feature1="A dedicated account manager to handle all paperwork on your behalf"
            featureSrc1="#"
            feature2="A dedicated account manager to handle all paperwork on your behalf"
            featureSrc2="#"
            feature3="A dedicated account manager to handle all paperwork on your behalf"
            featureSrc3="#"
            btn="Apply for registration"
            btnSrc={`/${lang}/contact`}
          />
        </div>
        <div class="cont-bottom">
          <h3>Still didn't Know which category ?</h3>
          <Button className="btn-stroke-yellow" client:load>
            Free Consaltant Call
          </Button>
        </div>
      </div>

      <div class="how-it-work-section">
        <div class="how-it-work-cont">
          <h2>How it works.</h2>
          <div class="process-cont">
            <IconTextCard
              icon="schedule"
              title="Schedule your free consultation"
              subtitle="Talk to our team around your specific bookkeeping needs. They will provide a personalized quote on your first call."
            />
            <IconTextCard
              icon="person"
              title="Get matched with the perfect account manager."
              subtitle="Based on your unique business situation, we will match you with the account manager who best meets your needs."
            />
            <IconTextCard
              icon="work-outline"
              title="Get back to business."
              subtitle="Get back to business! Need to reach your account manager? Connect over the phone, video, or in person."
            />
          </div>
        </div>
      </div>
    </div>

    <div class="latest-posts-section">
      <div class="posts-cont">
        <LatestBosts />
      </div>
    </div>

    <div
      style="    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 5rem"
      class="faq-section"
    >
      <h2>FAQs</h2>
      <div class="faq-cont" style="
      width: 60%;
      display: flex;
      ">
        <AuditFAQ client:visible />
      </div>
    </div>
  </section>
</Layout>
