---
import Layout from "../../../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import Button from "../../../components/Modal/Button";
import LatestBosts from "../../../components/Home/LatestBosts.astro";
import TaxesFAQ from "../../../components/FAQs/TaxesFAQ";
import IconTextCard from "../../../components/IconTextCard.astro";
import ContentCard from "../../../components/Card/ContentCard.astro";
import "../../../styles/ServiceTemplate.scss";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="BookKeeping">
  <section>
    <div class="service-container">
      <div class="hero-section">
        <div class="hero-cont">
          <div class="left-col">
            <img src=`/service/hero.jpg` alt="" />
          </div>

          <div class="right-col">
            <div class="content-wrap">
              <span>Small business bookkeeping</span>
              <h2>Bookkeeping for up to 50% less.</h2>
              <p>
                We have small business bookkeeping services to help you save
                time and money — with full-service package rates up to half off
                a typical accountant’s rates. Get started with a 30-minute
                meeting to be paired with your dedicated pro.
              </p>
            </div>
            <div class="btns">
              <Button className="btn-stroke-yellow" client:load>
                Start free phone consultation
              </Button>
              <a class="btn-stroke-blue-heavy" href="#taxes-faq"
                >Read our FAQs</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="feature-section">
        <h2>Get help with all your tax needs.</h2>
        <div class="card-cont">
          <ContentCard
            iconBgc="green"
            icon="company"
            iconText={t("texes.features.card1.iconText")}
            ;
            title={t("texes.features.card1.title")}
            ;
            feature1={t("texes.features.card1.feature1")}
            ;
            feature2={t("texes.features.card1.feature2")}
            ;
            feature3={t("texes.features.card1.feature3")}
            ;
          />
          <ContentCard
            icon="search"
            iconText={t("texes.features.card2.iconText")}
            ;
            title={t("texes.features.card2.title")}
            ;
            feature1={t("texes.features.card2.feature1")}
            ;
            feature2={t("texes.features.card2.feature2")}
            ;
            feature3={t("texes.features.card2.feature3")}
            ;
            iconBgc="var(--blue)"
          />
          <ContentCard
            icon="note-pencil"
            iconText={t("texes.features.card3.iconText")}
            ;
            title={t("texes.features.card3.title")}
            ;
            feature1={t("texes.features.card3.feature1")}
            ;
            feature2={t("texes.features.card3.feature2")}
            ;
            feature3={t("texes.features.card3.feature3")}
            iconBgc="var(--accent1)"
          />
          <ContentCard
            icon="money-bag"
            iconText={t("texes.features.card4.iconText")}
            ;
            title={t("texes.features.card4.title")}
            ;
            feature1={t("texes.features.card4.feature1")}
            ;
            feature2={t("texes.features.card4.feature2")}
            ;
            feature3={t("texes.features.card4.feature3")}
            iconBgc="var(--accent2)"
          />
          <ContentCard
            icon="certificate"
            iconText={t("texes.features.card5.iconText")}
            ;
            title={t("texes.features.card5.title")}
            ;
            feature1={t("texes.features.card5.feature1")}
            ;
            feature2={t("texes.features.card5.feature2")}
            ;
            feature3={t("texes.features.card5.feature3")}
            iconBgc="var(--blue)"
          />
          <ContentCard
            icon="court-hammer"
            iconText={t("texes.features.card6.iconText")}
            ;
            title={t("texes.features.card6.title")}
            ;
            feature1={t("texes.features.card6.feature1")}
            ;
            feature2={t("texes.features.card6.feature2")}
            ;
            feature3={t("texes.features.card6.feature3")}
            iconBgc="red"
          />
        </div>
        <div class="cont-bottom">
          <h3>Still didn't Know which category ?</h3>
          <Button className="btn-stroke-yellow" client:load>
            Free Consaltant Call
          </Button>
        </div>
      </div>

      <div class="make-oppoinment-section">
        <div class="make-oppoinment-cont">
          <div class="img-cont">
            <img src="/service/team.webp" alt="" />
          </div>
          <h2>Small business owner? Your taxes are our specialty.</h2>
          <p>
            Block Advisors small business certified tax pros will help maximize
            your tax outcome to help you grow your bottom line. Something every
            small business owner needs.
          </p>
          <Button className="btn-stroke-blue-heavy" client:visible>
            Make tax oppoinment
          </Button>
        </div>
      </div>

      <div class="how-it-work-section">
        <div class="how-it-work-cont">
          <h2>How it works.</h2>
          <div class="process-cont">
            <IconTextCard
              icon="schedule"
              title="Schedule your free consultation"
              subtitle="Talk to our team around your specific bookkeeping needs. They will provide a personalized quote on your first call."
            />
            <IconTextCard
              icon="person"
              title="Get matched with the perfect account manager."
              subtitle="Based on your unique business situation, we will match you with the account manager who best meets your needs."
            />
            <IconTextCard
              icon="work-outline"
              title="Get back to business."
              subtitle="Get back to business! Need to reach your account manager? Connect over the phone, video, or in person."
            />
          </div>
        </div>
      </div>

      <div class="latest-posts-section">
        <LatestBosts />
      </div>

      <div id="taxes-faq" class="faq-section">
        <h2>FAQs</h2>
        <div class="faq-cont">
          <TaxesFAQ client:visible />
        </div>
      </div>
    </div>
  </section>
</Layout>

<style></style>
