---
import '../styles/global.scss';
import MyHeader from '../components/MyHeader';
import Footer from '../components/Footer.astro'
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

export interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon" href="/home/favicon.svg">
		<title>{title}</title>
	</head>
	<body>
		<MyHeader lang={lang} client:load/>
		<article>
		<slot />
		</article>
		<Footer />
	</body>
</html>

<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.hamburger {
		display: none;
	}
</style>